.current_contaner{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.current_header{
    width: 100%;
    display: flex;
    align-items: center;
}
.right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right>img{
    width: 70%;
}
.left{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.left>h2:nth-of-type(1){
    margin: 20px 0;
    font-size: 40px;
}

.left>h2:nth-of-type(2){
    padding: 0 10px;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.left>h4:nth-of-type(1){
    margin: 5px 0;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255,255, 255, 0.7);
}
.left>h4:nth-of-type(2){
    padding: 0 10px;
    font-size: 30px;
    font-weight: 400;
    margin: 25px 0 0 0;
    color: rgba(255,255, 255, 0.7);
}



.current_detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgba(255,255, 255, 0.3);
    margin: 50px 0;
    border-radius: 30px;
}

.detail_box{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail_box>svg{
    font-size: 40px;
}

.detail_box>h5{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.detail_box>h5>span{
    font-size: 17px;
    font-weight: 500;
    color: rgba(255,255, 255, 0.7);
}

.detail_box>h6{
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}


@media only screen and (max-width: 730px) {
    .current_detail {
      font-size: 60%;
    }
    .current_header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        width: 100%;
        align-items: center;
    }
    .left>h2:nth-of-type(1){
        margin: 10px 0;
        font-size: 30px;
    }
    
    .left>h2:nth-of-type(2){
        padding: 0 10px;
        font-size: 50px;
        font-weight: 600;
        margin: 0;
    }
    .left>h4:nth-of-type(1){
        margin: 5px 0;
        font-size: 14px;
        font-weight: 400;
    }
    .left>h4:nth-of-type(2){
        padding: 0 10px;
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0;
        text-align: center;
    }
    .right{
        width: 100%;
    }
    .right>img{
        width: 60%;
    }

    
    .current_detail{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 15px 0;
    }

    .detail_box{
        display: flex;
        padding: 5px;
    }

    .detail_box>svg{
        font-size: 30px;
    }

    .detail_box>h5{
        font-size: 15px;
        font-weight: 700;
        margin: 10px 0;
    }
    .detail_box>h5>span{
        font-size: 14px;
    }

    .detail_box>h6{
        font-size: 15px;
        margin: 5px 0;
        }
    .detail_box:last-child{
        display: none;
    }
  }

